<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK REL=StyleSheet HREF="/css/perfil.css" TYPE="text/css" MEDIA=screen>
</head>

<body>
    <div id="datos">
            <img src="/img/usuario1.jpg" id="avatar">
        <div id="datosUsuario">
         <p>{{user.username}}<br>
                 {{user.email}}
         </p>
         </div> 
    </div>
     <label id="DatoNegocio">Datos del Negocio</label>
    <div id="formulario">
        <form action="/perfil/edit/{{tiendas.id}}" method="POST">
        <div>
        <label  id="Nombre">Nombre:</label>
        <input type="text" name="nombreNegocio" id="nombreNegocio" value="{{tiendas.nombreNegocio}}">
        </div>
        <div>
            <label  id="contactos">Contactos</label>
            <div id="numeros">
           <label id="celular">Celular:</label> <label id="telefono">Telefono:</label>
           </div>
           <div id="numero">
        <input type="number" name="celular" min="0" id="celular" value="{{tiendas.celular}}">   <input type="number" name="telefono" min="0" id="telefono" value="{{tiendas.telefono}}">
        </div>
        </div>
        <div id="boton">
         <button  type="submit" id="guardar1">Guardar</button>
         </div>
        </form>
     </div>                                    
</body>
</html>