<img src="/img/usuario1.jpg" id="avatar"></img>
<LINK REL=StyleSheet HREF="/css/perfillist.css" TYPE="text/css" MEDIA=screen>
<div id="datos">
    <div id="datosUsuario">
        <p>{{user.username}}<br>
            {{user.email}}
        </p>
    </div>
</div>
<label id="DatoNegocio">Datos del Negocio</label>
<div id="formulario">
    <form action="/perfil/list"></form>
    <div class="container p-4">
        <div class="row">
            {{#each tienda}}
                        <label id="Nombre">Nombre:</label>
                        <h1 id="nombreNegocio">{{nombreNegocio}}</h1>
                        <div>
                            <label id="contactos">Contactos</label>
                            <div id="numeros">
                                <label id="celular">Celular:</label> <label id="telefono">Telefono:</label>
                            </div>
                            <div id="numero">
                                <h1 id="celular">{{celular}}</h1> <h1 id="telefono">{{telefono}}</h1>
                            </div>
                        </div>
                        <div id="boton">
                            <button type="submit" id="guardar1"> <a href="/perfil/edit/{{id}}" style="color: aliceblue;"> Editar Datos</a></button>
        {{else}}
            <div>
                <p>"No a registrado Datos de su Negocio."</p>
                <a href="/perfil/add">¡Registro!</a>
            </div>
        {{/each}}
    </div>
</div>
</div>