<div class="col-md-4 mx-auto">
<LINK REL=StyleSheet HREF="/css/cliente.css" TYPE="text/css" MEDIA=screen>
    <div class="card">
        <div class="card-body">
            <form action="/proveedor/edit/{{proveedores.id}}" method="POST" id="f2">
                <div id="contenedor">
            <label>Nombre</label>
            <input type="text" name="NombreProveedor" id="NombreProveedor" value="{{proveedores.NombreProveedor}}">
        </div>
        <div id="contenedor">
            <label>Direccion</label>
            <input type="text" name="Direccion" id="Direccion" value="{{proveedores.Direccion}}">
        </div>
        <div id="contenedor">
            <label>Numero</label>
            <input type="text" name="Numero"  id="Numero" value="{{proveedores.Numero}}">
        </div>
        <div id="contenedor">
            <label>Estado</label>
            <input type="text" name="Estado" id="Estado" value="{{proveedores.Estado}}">
        </div>
        <button type="submit" class="btn btn-success" id="guardar">Guardar</button>
            </form>
        </div>
    </div>
</div>