<link rel="stylesheet" href="/css/Tienda.css">
<form action="/tienda/lista" method="get"></form>
<div id="contenido">
    <div class="container p-4">
        <div class="row">
            {{#each lista}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        {{id}}
                        <h3>{{nombreNegocio}}</h3>
                        <p>{{celular}}</p>
                        <p>{{telefono}}</p>
                        <button id="boton"><a href="/producto/lista/{{id}}" id="letra">Productos</a></button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>