{{#if user}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" href="/productos/lista/{{user.id}}"> Productos</a>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link" href="/proveedor/lista/{{user.id}}"> proveedores</a>
        <li class="nav-item">
           <li class="nav-item dropdown">
          <a class="nav-link" href="/ProductoEntrada/lista/{{user.id}}"> Prodcutos Entrada</a>
        <li class="nav-item">
        <li class="nav-item dropdown">
          <a class="nav-link" href="/clientes/lista/{{user.id}}"> Clientes</a>
        <li class="nav-item">
        <li class="nav-item dropdown">
          <a class="nav-link" href="/tienda/lista/{{user.id}}"> Tienda</a>
        <li class="nav-item">
          <a class="nav-link" href="/CerrarSecion">Cierre la Secion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{/if}}