<link rel="stylesheet" href="/css/productos.css">
<div id="navegacion">
    <div id="categorias">
        <a id="Tiendas" href="/tienda/lista"> Tiendas</a>
        <a id="Tiendas" href="/producto/lista"> Todos</a>
        <a id="Consumibles" href="/productos/consumibles"> Consumibles</a>
        <a id="noConsumibles" href="/productos/noconsumibles"> No consumibles</a>
        <a id="Bebidas" href="/productos/bebidas"> Bebidas </a>
    </div>
</div>
<hr>
<div id="lista">
    <table border="1" id="tabla">
        <tr>
            <td id="nombres">
                <p id="nombre">Lista de Productos</p>
            </td>
            <td id="nombres">
                <p id="precio">Precios</p>
            </td>
        </tr>
        {{#each lista}}
        <tr>
            <td id="Producto">{{Nombre}}</td>
            <td id="precio">${{Precio}}</td>
        </tr>
        {{/each}}
        <tr>
            <td>
                <div id="mover">
                    <button id="ver"><a href="Compra/listaCompleta" id="letras">Ver más productos</a></button>
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="boton">
    <button id="carrito" onclick="a.aparecerLista()"><img src="/img/carrito.png" id="img"></button>
    <button id="carrito1" onclick="a.esconderLista()"><img src="/img/carrito.png" id="img"></button>
</div>
<div id="contenido">
    <!--card--->
    <form action="/producto/lista" method="POST" id="tienda">
        <div class="container p-4">
            <div class="row">
                {{#each bebidas}}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <input type="text" name="Nombre" value="{{NombreProducto}}" readonly id="cantidad" >
                            <input type="text" name="Cantidad" value="{{Cantidad}}" readonly id="cantidad">
                            <input type="text" name="Precio" value="{{precioVenta}}" readonly id="cantidad">
                            <button type="submit" id="comprar">COMPRAR</button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </form>
</div>

<script src="/js/lista.js"></script>