<LINK REL=StyleSheet HREF="/css/proveedor/listaproveedor.css" TYPE="text/css" MEDIA=screen>
<form action="/proveedor/lista/{{user.id}}" id="f1">
    <div id="conetendor">
        <div class="row">
            {{#each proveedores }}
            <div class="col-md-4,5 col-ml-8">
                <div>
                    <div class="card-body">
                        <div id="tarjeta">
                            <table border="0.5">
                                <tr>
                                    <td>NombreProveedor:</td>
                                    <td style="text-align:right;">{{NombreProveedor}}</td>
                                </tr>
                                <tr>
                                    <td>Direccion:</td>
                                    <td style="text-align: right;">{{Direccion}}</td>
                                </tr>
                                <tr>
                                    <td>Numero:</td>
                                    <td style="text-align: right;">{{Numero}}</td>
                                </tr>
                                <tr>
                                    <td>Estado:</td>
                                    <td style="text-align: left;"><input type="text" id="estado" value="{{Estado}}"></td>
                                </tr>
                            </table>
                            <button><a href="/proveedor/editar/{{id}}" id="edit">Editar Proveedor</a></button>
                            <button id="agregarProducto"><a href="/ProductoEntrada/agregar/{{id}}">Agregar un Producto</a></button>
                            <button><a href="/proveedor/Eliminar/{{id}}" id="eliminar">Eliminar Proveedor</a></button>
                        </div>
                    </div>
                </div>
            </div>
            {{else}}
            <div>
                <p>¡No has registrado Proveedores.!</p>
                <a href="/proveedor/agregar/{{user.id}}">¡Introducir uno!</a>
            </div>
            {{/each}}
        </div>
    </div>
</form>

<div>
    {{#each proveedores }}
    <button id="masProveedor"><a href="/proveedor/agregar/{{id}}"><img src="/img/proveedor/mas.png" id="mas"></a></button>
    {{/each}}
</div>
<script src="/js/proveedor/estado.js"></script>