<LINK REL=StyleSheet HREF="/css/proveedor/listaproveedor.css" TYPE="text/css" MEDIA=screen>
<form action="/proveedor/lista/{{user.id}}" id="f1">
    <div id="conetendor">
        <div class="row">
            {{#each proveedores }}
            <div id="tarjeta">
                <div>
                    <div>
                        <h1 id="id">{{id}}</h1>
                    </div>
                    <div>
                        <p id="datosPerosnales">Datos Personales</p><button id="botonX"><a
                                href="/proveedor/Eliminar/{{id}}"><img src="/img/iconos/eliminar.png"
                                    id="eliminar"></a></button>
                    </div>
                </div>
                <div>
                    <div id="datos">
                        <div>
                            <input type="text" value="{{NombreProveedor}}" id="NombreProveedor" readonly>
                        </div>
                        <div>
                            <input type="text" value="{{Direccion}}" id="Direccion" readonly>
                        </div>
                        <div>
                            <input type="text" value="{{Numero}}" id="Numero" readonly>
                        </div>
                        <div>
                            <input type="text" id="estado" value="{{Estado}}" readonly>
                        </div>
                    </div>
                    <div>
                        <a href="/proveedor/editar/{{id}}" id="BotonEditar"><img src="/img/iconos/editar.png" id="editar"></a>
                    </div>
                    <div>
                        <button id="agregarProducto"><a href="/ProductoEntrada/agregar/{{id}}">Agregar un Producto</a></button>
                    </div>
                </div>
            </div>
            {{else}}
            <div>
                <p>¡No has registrado Proveedores.!</p>
                <a href="/proveedor/agregar/{{user.id}}">¡Introducir uno!</a>
            </div>
            {{/each}}
        </div>
    </div>
</form>

<div>
    {{#each proveedores }}
    <button id="masProveedor"><a href="/proveedor/agregar/{{id}}"><img src="/img/iconos/mas.png" id="mas"></a></button>
    {{/each}}
</div>