<LINK REL=StyleSheet HREF="/css/list.css" TYPE="text/css" MEDIA=screen>
<form action="/productos/list">
    <div>
        <div class="row">
            {{#each productos}}
                <div class="card-body">
                    <table>
                        <tr>
                            <td>Codigo</td>
                            <td style="text-align: right;">{{codigo}}</td>
                        </tr>
                        <tr>
                            <td>Nombre del Producto:</td>
                            <td style="text-align:right;">{{NombreProducto}}</td>
                        </tr>

                        <td>categoria:</td>
                        <td style="text-align:right;">{{categoria}}</td>
                        </tr>

                        <tr>
                            <td>Cantidad:</td>
                            <td style="text-align: right;">{{Cantidad}}</td>
                        </tr>
                        <tr>
                            <td>Precio:</td>
                            <td style="text-align: right;">{{precioVenta}}</td>
                        </tr>
                    </table>
                    <button><a href="/productos/edit/{{id}}">Editar Producto</a></button>
            </div>
            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>¡No has registrado productos.!</p>
                    <a href="/ProductoEntrada/add">¡Introducir uno!</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</form>