<LINK REL=StyleSheet HREF="/css/productos/listaProductos.css" TYPE="text/css" MEDIA=screen>
<form action="/productos/lista/{{user.id}}">
   <div id="contenedor">
        <div class="row">
            {{#each productos}}
            <div id="tarjeta">
                <div id="CODIGO">
                    <label>Codigo:</label>
                    <input type="text" value="{{codigo}}" id="codigo" readonly></input>
                </div>
                <div id="PRODUCTO">
                    <label>Producto:</label>
                    <input type="text" value="{{NombreProducto}}" id="NombreProducto" readonly></input>
                </div>
                <div id="CANTIDAD">
                    <label>Cantidad:</label>
                    <input type="text" value="{{Cantidad}}" id="Cantidad" readonly></input>
                </div>
                <div id="PRECIO">
                    <label>Precio:</label>
                    <input type="text" value="{{precioVenta}}$" id="precioActual" readonly></input>
                </div>
                <div>
                    <a href="/productos/editar/{{id}}" id="BotonEditar"><img
                                src="/img/iconos/editar.png" id="editar"></a>
                </div>
            </div>
            {{else}}
            <div id="agregar">
                <div>
                    <p>¡No has registrado Productos.!</p>
                    <a href="/productos/agregar/{{user.id}}">¡Introducir uno!</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</form>