<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK REL=StyleSheet HREF="/css/cliente.css" TYPE="text/css" MEDIA=screen>
</head>

<body>
    <form action="/ProductoEntrada/edit/{{ProductoEditado.id}}" method="POST" id="f1">
        <div id="contenedor">
            <label>Codigo</label>
            <input type="text" name="codigo" id="codigo" value="{{ProductoEditado.codigo}}">
        </div>
        <div id="contenedor">
            <label>Nombre del Producto</label>
            <input type="text" name="NombreProducto" id="NombreProducto" value="{{ProductoEditado.NombreProducto}}">
        </div>
        <div id="contenedor">
            <label>Cantidad</label>
            <input type="number" name="Cantidad" id="Cantidad" value="{{ProductoEditado.Cantidad}}">
        </div>
        <div id="contenedor">
            <label>Precio</label>
            <input type="number" name="precio" id="precio" value="{{ProductoEditado.precio}}">
        </div>
        <div id="contenedor">
            <label>Fecha Caducidad</label>
            <input type="date" name="FechaCadusidad" id="FechaCadusidad" value="{{ProductoEditado.FechaCadusidad}}">
        </div>
        <button class="btn btn-success" type="submit" id="guardar1">Guardar</button>
    </form>
</body>
</html>