<LINK REL=StyleSheet HREF="/css/productoEntrada/editarproductos.css" TYPE="text/css" MEDIA=screen>
 {{#each Productos}}
<form action="/ProductoEntrada/editar/{{id}}" method="POST">
    <p id="p">Edita Producto </p>
    <div id="contenedor_1">
        <div id="CODIGO">
            <label id="codigos">Codigo:</label>
            <input type="text" name="codigo" id="codigo" value="{{codigo}}" readonly>
        </div>
        <div id="PRODUCTO">
            <label id="producto">Producto :</label>
            <input type="text" name="NombreProducto" id="NombreProducto" value="{{NombreProducto}}">
        </div>
        <div id="CANTIDAD">
            <label id="cantidad">Cantidad:</label>
            <input type="number" name="Cantidad" id="Cantidad" value="{{Cantidad}}">
        </div>
        <div id="PRECIO">
            <label id="precios">Precio:</label>
            <input type="text" name="precioActual" id="precio" value="{{precioActual}}">
        </div>
        <div id="CADUCIDAD">
            <label id="caducidad">Fecha Caducidad:</label>
            <input type="datetime" name="FechaCadusidad" id="FechaCadusidad" value="{{FechaCadusidad}}">
        </div>
        <button type="submit" id="guardar1"> <img id="guardar_2" src="/img/guardar.png"></button>
    </div>
    {{/each}}
</form>