<LINK REL=StyleSheet HREF="/css/productoEntrada/productoslista.css" TYPE="text/css" MEDIA=screen>
<form action="/ProductoEntrada/lista">
    <div id="contenedor">
        <div class="row">
            {{#each DatosProducto}}
            <div id="tarjeta">
                <div>
                    <label>Codigo:</label>
                    <input type="text" value="{{codigo}}" id="codigo" readonly></input>
                </div>
                <div>
                    <label>Producto:</label>
                    <input type="text" value="{{NombreProducto}}" id="NombreProducto" readonly></input>
                </div>
                <div>
                    <label>Cantidad:</label>
                    <input type="text" value="{{Cantidad}}" id="Cantidad" readonly></input>
                </div>
                <div>
                    <label>Precio:</label>
                    <input type="text" value="{{precioActual}}$" id="precioActual" readonly></input>
                </div>
                <div>
                    <a href="/ProductoEntrada/editar/{{id}}" id="BotonEditar"><img
                                src="/img/iconos/editar.png" id="editar"></a>
                </div>
                <div>
                    <button id="botonX"><a href="/ProductoEntrada/Eliminar/{{id}}"><img src="/img/iconos/eliminar.png"
                            id="eliminar"></a></a></button>
                </div>
            </div>
            {{else}}
            <div>
                <div>
                    <p>¡No has registrado Productos.!</p>
                    <a href="/ProductoEntrada/agregar/{{user.id}}">¡Introducir uno!</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</form>