<LINK REL=StyleSheet HREF="/css/" TYPE="text/css" MEDIA=screen>
<img src="/img/avatar.png" id="avatar"></img>
<div id="datosUsuario">
    <p>
        <label id="dato">{{user.username}}</label>
    </p>
</div>
<div id="DatoNegocio">
<label>Datos del Negocio</label>
</div>
<div id="formulario">
    {{#each tienda}}
    <form action="/perfil/edit/{{id}}" method="POST">
        <div>
            <label id="Nombre">Nombre:</label>
            <input type="text" name="nombreNegocio" id="nombreNegocio" value="{{nombreNegocio}}">
        </div>
        <div>
            <label id="contactos">Contactos</label>
            <div id="numeros">
                <label id="celular">Celular:</label>
            </div>
            <div id="celular">
                <input type="number" name="celular" min="0" id="Celular" value="{{celular}}"> 
            </div>
            <div id="telefono">
                <label id="telefono">Telefono:</label>
                <input type="number" name="telefono" min="0" id="Telefono" value="{{telefono}}">
            </div>
        </div>
        <div id="boton">
            <button type="submit" id="guardar1">Guardar</button>
        </div>
    </form>
    {{/each}}
</div>