<LINK REL=StyleSheet HREF="/css/" TYPE="text/css" MEDIA=screen>
<img src="/img/avatar.png" id="avatar"></img>
<div id="datosUsuario">
    <p>
        <label id="dato">{{user.username}}</label>
    </p>
</div>
<div id="contenido">
    <form action="/perfil/list/{{user.id}}"></form>
    <div class="container p-4">
        <div class="row">
            {{#each tiendas}}
            <h1 id="nombreNegocio">{{nombreNegocio}}</h1>
            <div>
                <label id="contactos">Contactos:</label>
                <div id="CELULAR">
                    <label id="contactos1">Celular:</label>
                    <input type="number" name="celular" min="0" id="celular" value="{{celular}}" readonly>
                </div>
                <div id="Telefono">
                    <label id="contactos2">Telefono:</label>
                    <input type="number" name="telefono" min="0" id="telefono" value="{{telefono}}" readonly>
                </div>
            </div>
            <div id="boton">
                <button type="submit" id="guardar1"> <a href="/perfil/edit/{{id}}"> Editar
                        Datos </a></button>
                {{/each}}
            </div>
        </div>
    </div>
    <div id="Boton">
        <button id="boton1"><a href="/proveedor/add">Agregar Proveedor</a></button>
    </div>
</div>