<img src="/img/avatar.png" id="avatar"></img>
<LINK REL=StyleSheet HREF="/css/perfil.css" TYPE="text/css" MEDIA=screen>
<div id="datosUsuario">
    <p>
        <label id="dato">{{user.username}}</label>
    </p>
</div>
<label id="DatoNegocio">Datos del Negocio</label>
<div id="formulario">
    <form action="/perfil/list"></form>
    <div class="container p-4">
        <div class="row">
            {{#each tienda}}
            <label id="Nombre">Nombre:</label>
            <h1 id="nombreNegocio">{{nombreNegocio}}</h1>
            <div>
                <label id="contactos">Contactos</label>
                <div id="CELULAR">
                    <input type="number" name="celular" min="0" id="celular" value="{{celular}}" readonly>
                </div>
                <div id="Telefono">
                    <input type="number" name="telefono" min="0" id="telefono" value="{{telefono}}" readonly>
                </div>
            </div>
            <div id="boton">
                <button type="submit" id="guardar1"> <a href="/perfil/edit/{{id}}"> Editar
                        Datos</a></button>
                {{else}}
                <div>
                    <p>"No a registrado Datos de su Negocio."</p>
                    <a href="/perfil/add">¡Registro!</a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
<button><a href="/proveedor/add">Agregar Proveedor</a></button>