<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Stock</title>
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
              <!--detalle de empleados -->

<br>
<form method="GET"  action="/stock/detalle"></form>
<div class="w3-container">
    <ul class="w3-ul w3-card-4">
      {{#each productos}}
      <li class="w3-bar w3-blue">
       <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right"><a href="/stock/eliminar/{{id}}">X</a></span>
      <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right"><a href="/stock/editar/{{id}}">Modificar</a></span>
        <img src="/img/avatar_producto.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
        <div class="w3-bar-item">
          <span class="w3-large">Cod Producto = {{cod_producto}}</span><br>
          <span class="w3-large">Nombre del Producto = {{nombre_producto}}</span><br>
          <span>Costo Adquisicion ={{p_adquision_producto}}</span><br>
          <span>Costo Venta = {{p_venta_producto}}</span><br>
          <span>Stock = {{cantidad}},{{cantidad_medida}}</span>
          
        </div>
      </li>

    </ul>
  </div>
  <br>
 {{else}}
    <div class="col-md-4 mx-auto">
      <div class="card card-body text-center">
        <p>¡NO SEHAN REGISTRADO Productos .!</p>
        <a href="/stock/cargar">Agregar Producto</a>
      </div>
    </div>
    {{/each}}

</body>
</html>