<LINK REL=StyleSheet HREF="/css/tienda/tiendaLista.css" TYPE="text/css" MEDIA=screen>
<img src="/img/avatar.png" id="avatar"></img>
<div id="datosUsuario">
    <label id="dato">{{user.username}}</label>
</div>
<div id="contenido">
    <form action="/tienda/lista/{{user.id}}">
        {{#each tiendas}}
        <div id="nombreNegocio">
            <h1>{{nombreNegocio}}</h1>
        </div>
        <div id="RUC">
            <label id="Ruc">RUC:</label>
            <input type="text" name="ruc" id="ruc" value="{{ruc}}" readonly>
        </div>
        <div id="DIRECCION">
            <label id="Direccion">Dirección:</label>
            <input type="text" name="direccion" id="direccion" value="{{direccion}}" readonly>
        </div>
        <div id="contactos">
            <label id="Contactos">Contactos</label>
            <div id="CELULAR">
                <label id="Celular">Celular:</label>
                <input type="number" name="celular" min="0" id="celular" value="{{celular}}" readonly>
            </div>
            <div id="TELEFONO">
                <label id="Telefono">Telefono:</label>
                <input type="number" name="telefono" min="0" id="telefono" value="{{telefono}}" readonly>
            </div>
        </div>
        <div id="botones">
        <div id="boton">
            <button type="submit" id="Editar"><a href="/tienda/editar/{{id}}"> Editar Datos </a></button>
        </div>
        <div id="Boton">
            <button id="Agregar"><a href="/proveedor/agregar/{{id}}">Agregar Proveedor</a></button>
        </div>
        </div>
        {{else}}
        <div id="aviso">
            <p>¡Antes de continuar. de Click en Tienda!!</p>
            <p>¡¡<a href="/tienda/agregar/{{user.id}}">Registre los datos de su Negocio.!</a></p>
        </div>
        {{/each}}
    </form>
</div>